*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/* HEADER */
header{
    background-image: url(../img/pattern.png);
    background-color: rgb(107, 160, 240);
    background-size: 250px;
    padding-top: 45px;
    padding-bottom: 5px;
    padding-left: 10px;
}

#logo{
    width: 150px;
}

.header-sfondo-titolo{
}

.descrizione-foto{
    font-size: 12px;
    margin-bottom: 20px;
}

/* MAIN */

.sfumatura-testo{
    color: rgba(0, 0, 0, 0.527);
    font-size: 1rem;
}

.colore-sottotitolo{
    color: blue;
}

.grandezza-data{
    font-size: 0.8rem;
}

.lista{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.tabella{
    border-spacing: 0px;
    margin-bottom: 1rem;
}

.tabella-titolo{
    background-color: blue;
    color: white;
}

.tabella-corpo{
    background-color: aquamarine;
    border: 0;
}

.testo{
    margin-bottom: 1rem;
}

.evidenziatore-testo{
    background-color: yellow
}

/* FOOTER */
.footer-title {
    color: gray;
    font-size: .8rem;
    margin-bottom: 1rem;
}

.article-item {
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
    background-size: cover;
    background-position: center;
}

#monitor {
    background-image: url(../img/monitor.jpg);
}

#graph {
    background-image: url(../img/graph.jpg);
}

.article-item a {
    text-decoration: none;
    color: white;
}
